version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    
  backend:
    image: sahilmahat/dd-backend:latest
    container_name: backend
    restart: always
    expose:
      - "8080"
    depends_on:
      - mongo

  frontend:
    image: sahilmahat/dd-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
